<div class="container">
    <div class="row">
  
      <div class="hero">
      </div>
      <div class="col-sm-8">
        <h1>Team Grocery Bag </h1>
      </div>

      <div class="col-md-12">
        <p> Here at GB eSports we take things as serious as possible and strive for Ws and Ws only. A loss sometimes is cool though, 
          it happens. Bacon ipsum dolor amet meatball turkey pork short ribs turducken short loin beef shankle drumstick pastrami kevin 
          t-bone. Flank alcatra pork loin shank short loin burgdoggen doner sirloin spare ribs drumstick. Picanha shoulder 
          burgdoggen frankfurter beef. Chislic andouille frankfurter cow ground round pork loin. Pork belly kielbasa strip steak 
          kevin, sirloin leberkas drumstick. Doner rump ham hock meatloaf pork chop strip steak. Turducken spare ribs t-bone ball 
          ip turkey pancetta meatloaf pork loin tail salami swine.</p>

        <p>Pork belly beef ribs pork rump sausage andouille pancetta ribeye short loin. Chuck alcatra venison meatloaf. Flank venison 
          short loin meatball doner. Bresaola andouille buffalo pork chop, tenderloin flank tri-tip. Boudin tenderloin pork chop, tail 
          cow tri-tip pork andouille bacon chuck chislic pastrami. Ball tip buffalo tri-tip shoulder, ground round turkey meatloaf 
          corned beef boudin t-bone frankfurter beef ribs bacon. Salami tri-tip chislic shoulder short loin.
        </p>
      </div>
    
    </div>  
  </div>
  