<div class="container">
        <div class="row">
          <div style="width: 100%;">
            <h1>GB Opportunities </h1>
            <h5>Careers and Open Positions</h5>
            <img src="/images/computer_monitor.jpg" height="300px" width="auto" style="float: left;"> 
            <p>We aren't hiring right now but we can make up some fake ones for you to apply to:</p>
            <p> 1. Social Media Specialist</p>
            <p> 2. Coffee Getter</p>
            <p> 3. Lawyer</p>
            <p> 4. Video Games Coach</p>

            <p> Email: unpaidintern@yahoo.com to learn more.</p>
          </div>
    
          <div class="col-md-12">
          </div>
        
        </div>  
      </div>
      