<div class="container">
        <div class="row">
    
          <div class="col-sm-6">
            <img src="/images/pointing.jpg" width="350" height="300" alt="blame guy">
          </div>
    
          <div class="col-sm-6">
            <h1>Dude what did you do?!</h1>
            <p> Just kidding! Something went wrong and we'll get on it as soon as possible!</p>
            <p> Go to
              <a href="/">home!</a>
            </p>
          </div>
    
      </div>
    </div>