<div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h1>GLHF</h1>
        <p> Home to the WORLD RENOWNED eSports Team Grocery Bag™.</p>
        <p> If you want to subscribe to our newsletter, click <a href="/newsletter"> HERE</a> and keep up to date with us!</p>
      </div>
      <div class="col-sm-6">
        <img src="/images/typing_keyboard.jpg" height="400px" width="500px">
      </div>
    
    </div>  
  </div>
  