<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1">
	<title>ESPORTS #1</title>
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/final_project.css">
</head>

<body>
	<div id="nav">
		<div class="col-sm nav-align">
			<h1 id="title">GB eSPORTS</h1>
		</div>
		<div class="col-sm nav-align">
			<a href="/">
				<span class="button">Home</span>
			</a>
			<a href="/about">
				<span class="button">About Us</span>
			</a>
			<a href="/players">
				<span class="button">Meet Our Players</span>
            </a>
            <a href="/schedule">
				<span class="button">Calendar</span>
            </a>
            <a href="/careers">
				<span class="button">Jobs</span>
            </a>
		</div>
	</div>
	<%- body %>

</body>

</html>
