<div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h1 style="text-decoration: underline;">MEET THE SQUAD</h1>

        <h3> Pew pew Games </h3>
        <p>JORDAN "PIEGUY" MARTIN</p>
        <p>TITO "TAMA B" PROTASIO</p>
        <p>LUCAS "NRAllstars" LANG</p>

        <h3> vroom vroom Games </h3>
        <p>TED "TBallz" NEWTON</p>
        <p>JAKE "Tuttle" VOLM</p>
        <p>RYAN "DIEHARD" RAMIREZ</p>

        <h3> kick punch Games </h3>
        <p> Tim "Yohnson" Johnson</p>
        <p> Jean "JP" Peterson</p>
        <p> Eduardo "Plank" Suarez</p>
      </div>

      <div class="col-sm-6">
        <img src="images/xbox_controller.jpg" alt="hand holding xbox controller" height="450px" width="500px">
      </div>
    
    </div>  
  </div>