<div class="container">
    <div class="row">
        <div class="heroCalendar">
        </div>

        <div class="col-sm-12">
            <h1>As you can see, we are very busy</h1>
            <p> If you would like to contact us about scrim blocks or brand deals,
                please contact our very unpaid intern unpaidintern@yahoo.com. 
            </p>
        </div>
    </div> 