<div class="container">
    <div class="row">
  
      <div class="col-sm-6">
        <img src="/images/thanks.jpg" alt="">
      </div>
      <div class="col-sm-6">
        <h1>Thanks for signing up, nerd!</h1>
        <p> Go back
          <a href="/">home!</a> Or else!
        </p>
      </div>
    
    </div>  
  </div>
  